name: Build Go app Docker Image

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build Docker image
      run: docker build goapp/ --tag ${{ secrets.DOCKERHUB_USERNAME }}/liatrio-apprentice:$(git rev-parse --short "$GITHUB_SHA")

    - name: Run Container
      run: docker run -d -p 80:80 ${{ secrets.DOCKERHUB_USERNAME }}/liatrio-apprentice:$(git rev-parse --short "$GITHUB_SHA")

    - name: Run Tests
      uses: liatrio/github-actions/apprentice-action@0b41561cca6822cc8d880fe0e49e7807a41fdf91

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}


