name: Build Go app Docker Image

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build Docker image
      run: docker build . --file ./goapp/Dockerfile --tag goapp:$(git rev-parse --short "$GITHUB_SHA")
